* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.WrapFor-Slideshow-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 15vh;
}

.Slideshow-container {
  width: 90vw;
  height: 50vh;
  display: flex;
  overflow: hidden;
  border-radius: 1vh;
  box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3),
    10px 25px 30px rgba(0, 0, 0, 0.3);
  border: 3vh solid transparent;
  border-image: linear-gradient(
    121deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-image-slice: 1;
}

.Slides-images {
  width: 33.39%;
  display: flex;
  animation: slide 40s infinite;
}

.SlidImgSet {
  width: 100%;
}

/* .numbertext {
  color: #d5e4e6;
  font-weight: 900;
  font-size: 0.7em;
  padding: 1vw 2vh;
  position: absolute;
  border-radius: 10px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9),
    0px 0px 10px rgba(230, 230, 230, 0.9), 0px 0px 15px rgba(230, 230, 230, 0.9),
    0px 0px 20px rgba(230, 230, 230, 0.9);
} */

/* .dotContainer {
  height: 3vh;
  width: 3vw;
}

.dot {
  aspect-ratio: 1/1;
  background-color: #bbb;
  border-radius: 50%;
  margin: 4%;
  transition: background-color 0.6s ease;
} */

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  8% {
    transform: translateX(0);
  }
  11% {
    transform: translateX(-100%);
  }
  19% {
    transform: translateX(-100%);
  }
  22% {
    transform: translateX(-200%);
  }
  30% {
    transform: translateX(-200%);
  }
  33% {
    transform: translateX(-300%);
  }
  41% {
    transform: translateX(-300%);
  }
  44% {
    transform: translateX(-400%);
  }
  52% {
    transform: translateX(-400%);
  }
  55% {
    transform: translateX(-500%);
  }
  63% {
    transform: translateX(-500%);
  }
  66% {
    transform: translateX(-600%);
  }
  74% {
    transform: translateX(-600%);
  }
  77% {
    transform: translateX(-700%);
  }
  85% {
    transform: translateX(-700%);
  }
  88% {
    transform: translateX(-800%);
  }
  96% {
    transform: translateX(-800%);
  }
  100% {
    transform: translateX(-900%);
  }
}
