* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.WrapFor-Slideshow-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 15vh;
}

.Slideshow-container {
  width: 90vw;
  height: 50vh;
  display: flex;
  overflow: hidden;
  border-radius: 1vh;
  box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3),
    10px 25px 30px rgba(0, 0, 0, 0.3);
  border: 3vh solid transparent;
  border-image: linear-gradient(
    121deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-image-slice: 1;
}

.Slides-images {
  width: 33.39%;
  display: flex;
  animation: slide 20s infinite;
  animation-direction: alternate;
}

.SlidImgSet {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(-300%);
  }
  86% {
    transform: translateX(-600%);
  }
  100% {
    transform: translateX(-600%);
  }
}
